.mediaViewInfo {
	--web-view-name: 1-Rocket;
	--web-view-id: ID1-Rocket;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID1-Rocket;
}

@font-face {
	font-family: Andromeda;
	src: url("fonts/Andromeda-Bold.otf") format("opentype");
}

@font-face {
	font-family: Heavitas;
	src: url("fonts/Heavitas.ttf") format("truetype");
}

@font-face {
	font-family: Cocogoose;
	src: url("fonts/Cocogoose_trial.otf") format("opentype");
}
@font-face {
	font-family: Montserrat;
	src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.ID1-Rocket_Class {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 1-Rocket;
	--web-view-id: ID1-Rocket;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
.Bermuda_Back_cc_Class {
	position: absolute;
	width: 404px;
	height: 875px;
	left: -13px;
	top: -6px;
	overflow: visible;
}
.Interaction_Space_cd_Class {
	opacity: 0.34;
	filter: blur(0px);
	fill: rgba(255,255,255,1);
}
.Interaction_Space_cd {
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 612px;
	left: -4px;
	top: 275px;
}
.Sea_Back_ce_Class {
	position: absolute;
	width: 2005px;
	height: 1128px;
	left: -842px;
	top: -126px;
	overflow: visible;
}
.Sea_Back_cf_Class {
	opacity: 0.49;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 2005px;
	height: 1128px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RocketPic_cg_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 82px;
	height: 82px;
	left: 48px;
	top: 434px;
	overflow: visible;
}
.ArkletPic_ch_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 82px;
	height: 82px;
	left: 74px;
	top: 607px;
	overflow: visible;
}
.The_Breach_ci_Class {
	left: 179px;
	top: 610px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
.Subheading_Back_1_cj_Class {
	opacity: 0.43;
	fill: rgba(255,255,255,1);
}
.Subheading_Back_1_cj {
	mix-blend-mode: overlay;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 49px;
	left: 137px;
	top: 557px;
}
.new_event_ck_Class {
	left: 151px;
	top: 564px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Quick;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Arklet_Button_cl_Class {
	fill: rgba(255,255,255,1);
}
.Arklet_Button_cl {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 47px;
	left: 188px;
	top: 647px;
}
.Arklet_Read_File_cm_Class {
	left: 202px;
	top: 653px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(61,42,99,1);
}
.Rocket_Button_cn_Class {
	position: absolute;
	width: 93px;
	height: 29px;
	left: 184px;
	top: 487px;
	overflow: visible;
}
.Rocket_Button_co_Class {
	fill: rgba(255,255,255,1);
}
.Rocket_Button_co {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 47px;
	left: 0px;
	top: 0px;
}
.Rocket_Read_File_cp_Class {
	left: 198px;
	top: 493px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(61,42,99,1);
}
.Rocket_Lindeman_cq_Class {
	left: 145px;
	top: 446px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
.Oskar_Button_cr_Class {
	fill: rgba(255,255,255,1);
}
.Oskar_Button_cr {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 47px;
	left: 184px;
	top: 376px;
}
.Oskar_Read_File_cs_Class {
	left: 198px;
	top: 382px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(61,42,99,1);
}
.OskarPic_ct_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 82px;
	height: 82px;
	left: 48px;
	top: 325px;
	overflow: visible;
}
.Oskar_Ferrison_cu_Class {
	left: 145px;
	top: 335px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Log_Back_cv_Class {
	fill: rgba(255,255,255,1);
}
.Log_Back_cv {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 38px;
	left: 74px;
	top: 101px;
}
.log_001_absentee_cw_Class {
	left: 91px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 194px;
	white-space: nowrap;
	text-align: left;
	font-family: Heavitas;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(18,0,56,1);
}
.BERMUDA_cx_Class {
	left: 118px;
	top: 53.5px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Group_5_Class {
	position: absolute;
	width: 310px;
	height: 432px;
	left: 33px;
	top: 298px;
	overflow: visible;
}
.ReportBack_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ReportBack {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 432px;
	left: 0px;
	top: 0px;
}
.Rocket_Lindeman_c_Class {
	left: 113px;
	top: 32.519px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,14,105,1);
}
.Robotics_Lead_Class {
	left: 113px;
	top: 60.519px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(0,14,105,0.58);
}
.Theythem_Class {
	left: 113px;
	top: 78.519px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 7px;
	color: rgba(107,115,168,1);
}
.RocketBio_Class {
	left: 33.5px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,33,107,1);
}
.Rocket_Button_c_Class {
	fill: rgba(0,14,105,1);
}
.Rocket_Button_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 44px;
	left: 113px;
	top: 381.5px;
}
.Rocket_Read_File_c_Class {
	left: 134px;
	top: 387.5px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
.RocketPic_c_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 67px;
	height: 67px;
	left: 34px;
	top: 27px;
	overflow: visible;
}