.mediaViewInfo {
	--web-view-name: B4-1 – 4;
	--web-view-id: B4-1__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: B4-1__4;
}

@font-face {
	font-family: Andromeda;
	src: url("fonts/Andromeda-Bold.otf") format("opentype");
}

@font-face {
	font-family: Heavitas;
	src: url("fonts/Heavitas.ttf") format("truetype");
}

@font-face {
	font-family: Cocogoose;
	src: url("fonts/Cocogoose_trial.otf") format("opentype");
}
@font-face {
	font-family: Montserrat;
	src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.B4-1__4_Class {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: B4-1 – 4;
	--web-view-id: B4-1__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
.audio_Class{
	position: absolute;
	width: 300px;
	height: 50px;
	left: 40px;
	top: 175px;
	overflow: visible;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

  @keyframes fadeOut {
	100% {opacity:1;}
	0% {opacity:0;}
  }

.Bermuda_Back_Class {
	opacity: 0.94;
	fill: rgba(3,62,80,1);
}
.Bermuda_Back {
	position: absolute;
	overflow: visible;
	width: 404px;
	height: 875px;
	left: -13px;
	top: -6px;
}
.Bermuda_Back_br_Class {
	opacity: 0.92;
	mix-blend-mode: saturation;
	position: absolute;
	width: 404px;
	height: 875px;
	left: -13px;
	top: -6px;
	overflow: visible;
}
.Interaction_Space_Class {
	opacity: 0.34;
	filter: blur(0px);
	fill: rgba(255,255,255,1);
}
.Interaction_Space {
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 612px;
	left: -4px;
	top: 275px;
}
.Sea_Back_Class {
	opacity: 0.16;
	mix-blend-mode: hard-light;
	position: absolute;
	width: 2005px;
	height: 1128px;
	left: -840px;
	top: -125px;
	overflow: visible;
}
.Log_Back_Class {
	fill: rgba(255,255,255,1);
}
.Log_Back {
	position: absolute;
	overflow: visible;
	width: 209px;
	height: 35px;
	left: 83px;
	top: 101px;
}
.log_004_WATERGATE_Class {
	left: 99px;
	top: 109px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Heavitas;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(12,64,84,1);
}
.BERMUDA_Class {
	left: 118px;
	top: 53.5px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.DanteInt1_Class {
	display: none;
}
.Dante_Class {
	display: none;
	animation: fadeIn linear 1s;
	position: absolute;
	width: 259px;
	height: 104px;
	left: 63px;
	top: 468px;
	overflow: visible;
}
.DantePic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 92px;
	height: 92px;
	left: 0px;
	top: 22px;
	overflow: visible;
}
.DanteButton_Class {
	background-color: rgba(255,255,255,1);
	border-radius: 13px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 29px;
	left: 139px;
	top: 75px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(12,64,84,1);
}
.DanteButton_Class:hover {
	background-color: rgba(12,64,84,1);
	color: white
}
.Dante_Kristoff_Class {
	left: 111px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
.Divider_Class {
	opacity: 0.44;
	fill: rgba(255,255,255,1);
}
.Divider {
	mix-blend-mode: overlay;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 7px;
	left: 105px;
	top: 0px;
}
.SnoopTrigger_Class {
	display:none;
	animation: fadeIn linear 1s;
	position: absolute;
	width: 256px;
	height: 118px;
	left: 61px;
	top: 325px;
	overflow: visible;
}
.SnoopButton_Class {
	background-color: rgba(255,255,255,1);
	border-radius: 13px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 29px;
	left: 134px;
	top: 85px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(12,64,84,1);
}
.SnoopButton_Class:hover {
	background-color: rgba(12,64,84,1);
	color: white
}
.Night_Snooping_Class {
	left: 106px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
.Subheading_Back_1_Class {
	opacity: 0.43;
	fill: rgba(255,255,255,1);
}
.Subheading_Back_1 {
	mix-blend-mode: overlay;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 49px;
	left: 73px;
	top: 0px;
}
.new_clue_Class {
	left: 89px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Heavitas;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
.SnoopPic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 82px;
	height: 82px;
	left: 0px;
	top: 36px;
	overflow: visible;
}

.DanteInt2_Class {
	display: none;
}


.Continue_Class {
	display: none;
	animation: fadeIn linear 0.5s;
	position: absolute;
	width: 150px;
	height: 39px;
	left: 113px;
	top: 200px;
	overflow: visible;
}
.ContinueButton_Class {
	background-color: rgba(255,255,255,1);
	border-radius: 25px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.349));
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 39px;
	left: 0px;
	top: 0px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(12,64,84,1);
}
.ContinueButton_Class:hover {
	background-color: rgba(12,64,84,1);
	color: white
}

.SnoopReport_Class {
	display: none;
	animation: fadeIn linear 0.5s;
	position: absolute;
	width: 310px;
	height: 324px;
	left: 37px;
	top: 310px;
	overflow: visible;
}
.SpeakerBack_Class {
	fill: rgba(255,255,255,1);
}
.SpeakerBack {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 328px;
	height: 342px;
	left: 0px;
	top: 0px;
}
.New_Clue_cd_Class {
	left: 121px;
	top: 65.489px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(12,64,84,0.478);
}
.Speaker_Bio_Class {
	left: 39px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: normal;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: rgba(7,57,51,1);
}
.SnoopClose_Class {
	background-color: rgba(12,64,84,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	border-radius: 13px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 26px;
	left: 113.5px;
	top: 268.978px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
.SnoopClose_Class:hover {
	background-color: white;
	border-color:rgba(7,57,51,1);
	border-width: 2px;
	border-style: solid;
	color: rgba(7,57,51,1);
}
.Night_Snooping_ch_Class {
	left: 120px;
	top: 40.511px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(12,64,84,1);
}
.SnoopRepPic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 75px;
	height: 75px;
	left: 39px;
	top: 25px;
	overflow: visible;
}
.DanteReport_Class {
	display: none;
	animation: fadeIn linear 0.5s;
	position: absolute;
	width: 310px;
	height: 288px;
	left: 37px;
	top: 312px;
	overflow: visible;
}
.DanteReportBack_Class {
	fill: rgba(255,255,255,1);
}
.DanteReportBack {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 328px;
	height: 306px;
	left: 0px;
	top: 0px;
}
.Dante_Kristoff_cd_Class {
	left: 118px;
	top: 40.978px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(12,64,84,1);
}
.Operations_Lead_Class {
	left: 118px;
	top: 68.978px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(139,164,173,1);
}
.Hehim_Class {
	left: 118px;
	top: 86.978px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 7px;
	color: rgba(139,164,173,1);
}
.Dante_Bio_Class {
	left: 33px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: normal;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: rgba(12,64,84,1);
}
.DanteClose_Class {
	background-color: rgba(12,64,84,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	border-radius: 13px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 26px;
	left: 113.5px;
	top: 237.022px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
.DanteClose_Class:hover {
	background-color: white;
	border-color:rgba(7,57,51,1);
	border-width: 2px;
	border-style: solid;
	color: rgba(7,57,51,1);
}
.DanteRepPic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 71px;
	height: 69px;
	left: 36px;
	top: 33px;
	overflow: visible;
}