.mediaViewInfo {
	--web-view-name: B4-1;
	--web-view-id: B4-1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: B4-1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.B4-1_Class {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: B4-1;
	--web-view-id: B4-1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
.audio_Class{
	position: absolute;
	width: 300px;
	height: 50px;
	left: 40px;
	top: 175px;
	overflow: visible;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

  @keyframes fadeOut {
	100% {opacity:1;}
	0% {opacity:0;}
  }
  .Bermuda_Back_Class {
	opacity: 0.94;
	fill: rgba(3,62,80,1);
}
.Bermuda_Back {
	position: absolute;
	overflow: visible;
	width: 404px;
	height: 875px;
	left: -13px;
	top: -6px;
}
.Bermuda_Back_bo_Class {
	opacity: 0.92;
	mix-blend-mode: saturation;
	position: absolute;
	width: 404px;
	height: 875px;
	left: -13px;
	top: -6px;
	overflow: visible;
}
.Interaction_Space_Class {
	opacity: 0.34;
	filter: blur(0px);
	fill: rgba(255,255,255,1);
}
.Interaction_Space {
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 612px;
	left: -4px;
	top: 275px;
}
.Sea_Back_Class {
	opacity: 0.16;
	mix-blend-mode: hard-light;
	position: absolute;
	width: 2005px;
	height: 1128px;
	left: -840px;
	top: -125px;
	overflow: visible;
}
.Log_Back_Class {
	fill: rgba(255,255,255,1);
}
.Log_Back {
	position: absolute;
	overflow: visible;
	width: 209px;
	height: 35px;
	left: 83px;
	top: 101px;
}
.log_004_WATERGATE_Class {
	left: 99px;
	top: 109px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Heavitas;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(12,64,84,1);
}
.BERMUDA_Class {
	left: 118px;
	top: 53.5px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}

.Watergate1_Class {
	display: none;
}
.Watergate2_Class {
	display: none;
}
.Calihan_Class {
	display: none;
	animation: fadeIn linear 1s;
	position: absolute;
	width: 255px;
	height: 103px;
	left: 61px;
	top: 462px;
	overflow: visible;
}
.CalihanButton_Class {
	background-color: rgba(255,255,255,1);
	border-radius: 13px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 29px;
	left: 140px;
	top: 67px;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(12,64,84,1);
}
.CalihanButton_Class:hover {
	background-color: rgba(12,64,84,1);
	color: white
}

.Cpt_Calihan_Class {
	left: 117px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}

.Divider_Class {
	opacity: 0.44;
	fill: rgba(255,255,255,1);
}
.Divider {
	mix-blend-mode: overlay;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 7px;
	left: 107px;
	top: 0px;
}
.CalihanPic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 90px;
	height: 90px;
	left: 0px;
	top: 16px;
	overflow: visible;
}
.SpeakerTrigger_Class {
	display: none;
	animation: fadeIn linear 1s;
	position: absolute;
	width: 261px;
	height: 124px;
	left: 63px;
	top: 315px;
	overflow: visible;
}
.SpeakerButton_Class {
	background-color: rgba(255,255,255,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	border-radius: 13px;
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 29px;
	left: 138px;
	top: 87px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(12,64,84,1);
}
.SpeakerButton_Class:hover {
	background-color: rgba(12,64,84,1);
	color: white
}

.Speaker_System_Class {
	left: 107px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
.SpeakerImage_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 82px;
	height: 82px;
	left: 0px;
	top: 42px;
	overflow: visible;
}
.Subheading_Back_1_Class {
	opacity: 0.43;
	fill: rgba(255,255,255,1);
}
.Subheading_Back_1 {
	mix-blend-mode: overlay;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 49px;
	left: 63px;
	top: 0px;
}
.new_clue_Class {
	left: 82px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Heavitas;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.SpeakerReport_Class {
	display: none;
	animation: fadeIn linear 0.3s;
	position: absolute;
	width: 310px;
	height: 316px;
	left: 37px;
	top: 310px;
	overflow: visible;
}
.SpeakerBack_Class {
	fill: rgba(255,255,255,1);
}
.SpeakerBack {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 328px;
	height: 334px;
	left: 0px;
	top: 0px;
}
.New_Clue_b_Class {
	left: 121px;
	top: 59.989px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(12,64,84,0.478);
}
.Speaker_Bio_Class {
	left: 36px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: normal;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: rgba(7,57,51,1);
}
.SpeakersClose_Class {
	background-color: rgba(12,64,84,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	border-radius: 13px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 26px;
	left: 113.5px;
	top: 264.978px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
.SpeakersClose_Class:hover {
	background-color: white;
	border-color:rgba(7,57,51,1);
	border-width: 2px;
	border-style: solid;
	color: rgba(7,57,51,1);
}

.Speaker_System_cd_Class {
	left: 120px;
	top: 35.011px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(12,64,84,1);
}
.SpeakerRPic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 70px;
	height: 70px;
	left: 39px;
	top: 24px;
	overflow: visible;
}

.CalihanReport_Class {
	display: none;
	animation: fadeIn linear 0.3s;
	position: absolute;
	width: 310px;
	height: 279px;
	left: 38px;
	top: 313px;
	overflow: visible;
}
.CalihanReportBack_Class {
	fill: rgba(255,255,255,1);
}
.CalihanReportBack {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 328px;
	height: 297px;
	left: 0px;
	top: 0px;
}
.Katie_Calihan_Class {
	left: 122px;
	top: 31.519px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Andromeda;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(12,64,84,1);
}
.Ship_Captain_Class {
	left: 122px;
	top: 58.057px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(139,164,173,1);
}
.Sheher_Class {
	left: 122px;
	top: 75.649px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 7px;
	color: rgba(139,164,173,1);
}
.Calihan_Bio_Class {
	left: 40px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 242px;
	white-space: normal;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: rgba(12,64,84,1);
}
.CalihanClose_Class {
	background-color: rgba(12,64,84,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	border-radius: 13px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 26px;
	left: 108px;
	top: 226.031px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.SpeakersClose_Class:hover {
	background-color: white;
	border-color:rgba(7,57,51,1);
	border-width: 2px;
	border-style: solid;
	color: rgba(7,57,51,1);
}
.CalihanClose_Class:hover {
	background-color: white;
	border-color:rgba(7,57,51,1);
	border-width: 2px;
	border-style: solid;
	color: rgba(7,57,51,1);
}
.CalihanRPic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 75px;
	height: 75px;
	left: 37px;
	top: 21px;
	overflow: visible;
}

.CalihanInt_Class {
	display: none;
	animation: fadeIn linear 1s;
	position: absolute;
	width: 199px;
	height: 68px;
	left: 83px;
	top: 496px;
	overflow: visible;
}
.CalihanIntButton_Class {
	background-color: rgba(255,255,255,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	border-radius: 20px;
	position: absolute;
	overflow: visible;
	width: 114px;
	height: 41px;
	left: 85px;
	top: 13px;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(12,64,84,1);
}
.CalihanIntButton_Class:hover {
	background-color: rgba(12,64,84,1);
	color: white
}
.CalihanIntPic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 68px;
	height: 68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

.DanteInt_Class {
	display: none;
	animation: fadeIn linear 1s;
	position: absolute;
	width: 187px;
	height: 69px;
	left: 83px;
	top: 372px;
	overflow: visible;
}
.DanteButton_Class {
	background-color: rgba(255,255,255,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	border-radius: 20px;
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 41px;
	left: 96px;
	top: 14px;
	white-space: nowrap;
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(12,64,84,1);
}
.DanteButton_Class:hover {
	background-color: rgba(12,64,84,1);
	color: white
}
.DantePic_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 69px;
	height: 69px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.InterrogateTrigger_Class {
	display: none;
	animation: fadeIn linear 0.5s;
	position: absolute;
	width: 130px;
	height: 29px;
	left: 123px;
	top: 320px;
	overflow: visible;
}
.Rectangle_18_Class {
	opacity: 0.45;
	fill: rgba(255,255,255,1);
}
.Rectangle_18 {
	mix-blend-mode: overlay;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 47px;
	left: 0px;
	top: 0px;
}
.Interrogate_Class {
	left: 15px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	font-family: Heavitas;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
.OrTrigger_Class {
	display: none;
	animation: fadeIn linear 1s;
	position: absolute;
	width: 41px;
	height: 29px;
	left: 167px;
	top: 454px;
	overflow: visible;
}
.OrButton_Class {
	opacity: 0.45;
	fill: rgba(255,255,255,1);
}
.OrButton {
	mix-blend-mode: overlay;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 29px;
	left: 0px;
	top: 0px;
}
.orText_Class {
	left: 9px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	font-family: Heavitas;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}